@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace ide "royalshield.components.*";

global
{
    chromeColor: #454545;
    color: #DFDFDF;
    contentBackgroundColor: #494949;
    symbolColor: #000000;
    rollOverColor: #355D89;
    selectionColor: #294867;
    focusColor: #333300;
    accentColor: #6589AD;
}

/*
//--------------------------------------
// mx components
//--------------------------------------
*/

mx|ToolTip
{
    backgroundAlpha: 0.8;
    backgroundColor: #272727;
    borderStyle: solid;
    borderColor: #FFFFFF;
    color: #DFDFDF;
    cornerRadius: 0;
    fontSize: 11;
}

/*
//--------------------------------------
// spark components
//--------------------------------------
*/

s|Button
{
    skinClass: ClassReference("royalshield.components.skins.ButtonSkin");
}

s|ToggleButton
{
    skinClass: ClassReference("royalshield.components.skins.ToggleButtonSkin");
}

/*
//--------------------------------------
// ide components
//--------------------------------------
*/

ide|DropDownButton
{
    skinClass: ClassReference("royalshield.components.skins.DropDownButtonSkin");
}

ide|HistoryControl
{
    skinClass: ClassReference("royalshield.components.skins.HistoryControlSkin");
}

ide|ShadowLine
{
    lineColor: #272727;
    shadowColor: #565656;
}
