@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace ide "royalshield.components.*";

global
{
    chromeColor: #454545;
    color: #DFDFDF;
    contentBackgroundColor: #494949;
    symbolColor: #000000;
    rollOverColor: #355D89;
    selectionColor: #294867;
    focusColor: #333300;
    accentColor: #6589AD;
    modalTransparency: 0.1;
}

/*
//--------------------------------------
// mx components
//--------------------------------------
*/

mx|ToolTip
{
    backgroundAlpha: 0.8;
    backgroundColor: #272727;
    borderStyle: solid;
    borderColor: #FFFFFF;
    color: #DFDFDF;
    cornerRadius: 0;
    fontSize: 11;
}

/*
//--------------------------------------
// spark components
//--------------------------------------
*/

s|Button
{
    skinClass: ClassReference("royalshield.components.skins.ButtonSkin");
}

s|NumericStepper
{
    skinClass: ClassReference("royalshield.components.skins.NumericStepperSkin");
}

s|SkinnableComponent
{
    focusSkin: ClassReference("royalshield.components.skins.FocusSkin");
}

s|TextInput
{
    paddingBottom: 3;
    paddingLeft: 3;
    paddingRight: 3;
    paddingTop: 5;
    color: #272727;
    borderColor: #272727;
    contentBackgroundColor: #A2A2A2;
    focusedTextSelectionColor: #CCCCCC;
    skinClass: ClassReference("royalshield.components.skins.TextInputSkin");
}

s|ToggleButton
{
    skinClass: ClassReference("royalshield.components.skins.ToggleButtonSkin");
}

/*
//--------------------------------------
// ide components
//--------------------------------------
*/

ide|DropDownButton
{
    skinClass: ClassReference("royalshield.components.skins.DropDownButtonSkin");
}

ide|EditorPanel
{
    skinClass: ClassReference("royalshield.components.skins.EditorPanelSkin");
}

ide|HistoryControl
{
    skinClass: ClassReference("royalshield.components.skins.HistoryControlSkin");
}

ide|MapEditor
{
    skinClass: ClassReference("royalshield.components.skins.MapEditorSkin");
}

ide|TabBarPlus
{
    skinClass: ClassReference("royalshield.components.skins.TabBarPlusSkin");
}

ide|TabPlus
{
    skinClass: ClassReference("royalshield.components.skins.TabPlusSkin");
}

ide|ShadowLine
{
    lineColor: #272727;
    shadowColor: #565656;
}
